@import url("https://fonts.googleapis.com/css?family=Work+Sans");

* {
  font-family: "Work Sans", sans-serif;
}

:root {
  --main-text-color: #008080;
  --secondary-text-color: #fff;
  --height: 100px;
}

.toolbar {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  background: transparent;
  height: var(--height);
}
.toolbar_logo {
  margin-left: 1rem;
}

#item1,
#item2 {
  color: var(--secondary-text-color);
}

#item1:hover,
#item2:hover {
  color: #0b4566;
}

#item3,
#item4 {
  color: var(--main-text-color);
}

#item3:hover,
#item4:hover {
  color: #74c9c9;
}

.toolbar_logo a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  margin-right: 4%;
  margin-top: 1%;
  align-items: center;
}

.toolbar_toggle-button {
  margin-left: 5%;
  margin-top: 2%;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items {
  justify-self: center;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 1.5rem;
}

.toolbar_navigation-items a {
  font-size: 22px;
  text-decoration: none;
}

.hireMeButton {
  position: absolute;
  top: 50%;
  right: 5%;
}

@media (max-width: 1200px) {
  .hireMeButton {
    display: none;
  }
}

@media (max-width: 1200px) {
  .toolbar_navigation-items {
    display: none;
  }
  .toolbar_navigation {
    justify-content: flex-start;
  }
}

@media (min-width: 1201px) {
  .toolbar_toggle-button {
    display: none;
  }
  .toolbar_logo {
    margin-left: 0px;
  }
}

@media (max-width: 1500px) {
  .toolbar_navigation {
    margin-right: 8%;
  }
}

@media (max-width: 1300px) {
}
