#divFFECEC {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

#div33759B {
  height: 100vh;
  display: flex;
  padding-left: 10%;
}

.leftContent {
  max-width: 300px;
  margin-top: -150px;
  text-align: center;
  display: grid;
  color: white;
  align-content: center;
}

.leftContent:hover > .arrowLeft {
  transform: scale(1.2) translate(-20px, 0px);
  transition: transform 1.5s;
}

.rightContent {
  max-width: 300px;
  margin-top: -150px;
  text-align: center;
  display: grid;
  color: #008080;
  align-content: center;
}

.rightContent:hover > .arrowRight {
  transform: scale(1.2) translate(20px, 0px);
  transition: transform 1.5s;
}

.rightContent:hover:after > .arrowRight {
  transform: scale(0.8) translate(20px, 0px);
  transition: transform 1.5s;
}

.fa-long-arrow-alt-left {
  padding-top: 20px;
  font-size: 50px;
  color: white;
}

.fa-long-arrow-alt-right {
  font-size: 50px;
  padding-top: 20px;
  color: #008080;
}

a {
  text-decoration: none;
}

.goLeft > .title a {
  font-size: 32px;
  color: white;
}

.goRight > .title a {
  font-size: 32px;
  color: #008080;
}
